{% extends 'base.html.twig' %}

{% block body %}
    <h3>Numbers list:</h3>
    <ul>
        {% for number in numbers %}
            <li>{{ number }}</li>
        {% endfor %}
    </ul>
    <h3>Result:</h3>
    {% if result < 0 %}
        <p>{3 times even} < (2 times odd) </p>
    {% elseif result == 0 %}
        <p>{3 times even} == (2 times odd) </p>
    {% else %}
        <p>{3 times even} > (2 times odd) </p>
    {% endif %}
{% endblock %}
